repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        name: Enforce Python 3.9+ idioms
        args: ["--py39-plus"]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        args: ["--target-version=py39"]

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        args: ["--target-version=py39"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.50"
    hooks:
      - id: check-manifest
        args: [--no-build-isolation]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject

  # conflict with the backend dependencies: tomli-w==1.1.0 is incompatible with tomli-w==1.0.0.
  # - repo: https://github.com/kieran-ryan/pyprojectsort
  #   rev: "v0.3.0"
  #   hooks:
  #     - id: pyprojectsort

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.34.0"
    hooks:
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: https://github.com/regebro/pyroma
    rev: "5.0"
    hooks:
      - id: pyroma

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
