repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        name: Enforce Python 3.9+ idioms
        args: ["--py39-plus"]

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        args: ["--target-version=py39"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.51"
    hooks:
      - id: check-manifest
        args: [--no-build-isolation]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.25"
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/kieran-ryan/pyprojectsort
    rev: "v0.4.0"
    hooks:
      - id: pyprojectsort

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.36.1"
    hooks:
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: https://github.com/regebro/pyroma
    rev: "5.0.1"
    hooks:
      - id: pyroma

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
