language: python
python:
  - "3.5"
sudo: false
env:
  - TOXENV=flake8
  - TOXENV=py26-crypto
  - TOXENV=py27-crypto
  - TOXENV=py33-crypto
  - TOXENV=py34-crypto
  - TOXENV=py35-crypto
  - TOXENV=py34-nocrypto
  - TOXENV=py35-nocrypto
  - TOXENV=py27-nocrypto
  - TOXENV=py35-contrib_crypto
  - TOXENV=py27-contrib_crypto
install:
  - pip install -U pip
  - pip install -U tox coveralls
script:
  - tox
after_success:
  - coveralls
