language: python
python: 2.7
sudo: false
env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py32
  - TOXENV=py33
  - TOXENV=py34
install:
  - pip install tox coveralls
script:
  - tox
after_success:
  - coveralls
