include README.rst
include CHANGELOG.md
include LICENSE
include AUTHORS
include .flake8
include *.rst *.toml *.yml *.yaml *.md
graft .github
global-exclude *.pyc __pycache__

# Tests
include tox.ini
graft tests

# Documentation
include docs/Makefile docs/docutils.conf
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.css
recursive-include docs *.txt
prune docs/_build
