include .pre-commit-config.yaml
include .readthedocs.yaml
include CODE_OF_CONDUCT.md
include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include SECURITY.md
include ruff.toml
include tox.ini
include jwt/py.typed
graft docs
graft tests
exclude codecov.yml
recursive-exclude docs/_build *
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
