[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"


[tool.coverage.run]
parallel = true
branch = true
source = ["jwt"]

[tool.coverage.paths]
source = ["src", ".tox/*/site-packages"]

[tool.coverage.report]
show_missing = true


[tool.black]
line-length = 79


[tool.isort]
atomic=true
force_grid_wrap=0
include_trailing_comma=true
lines_after_imports=2
lines_between_types=1
multi_line_output=3
use_parentheses=true
combine_as_imports=true

known_first_party="jwt"
known_third_party=["jwt", "pytest", "requests_mock", "setuptools", "sphinx_rtd_theme"]
