name: "Update unreleased section in CHANGELOG"
on:
  pull_request:
    # By default labeled/unlabeled are not included in the pull_request even so we need to list out what we want
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

permissions:
  contents: read

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
    - uses: dangoslen/changelog-enforcer@204e7d3ef26579f4cd0fd759c57032656fdf23c7 # v3.6.1
      with:
        skipLabels: 'Skip-Changelog,dependencies,tests'
